<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup class="space-y-1">
        <h1 class="text-3xl font-bold text-red-700">Error.</h1>
        <h2 class="text-lg text-slate-700">An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
