@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" class="space-y-3">
    <h2 id="title" class="text-3xl font-bold text-slate-900">@ViewBag.Title.</h2>
    <h3 class="text-xl font-semibold text-slate-700">@ViewBag.Message</h3>

    <p class="text-slate-600">Use this area to provide additional information.</p>
</main>