@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title" class="space-y-3">
    <h2 id="title" class="text-3xl font-bold text-slate-900 dark:text-slate-100">@ViewBag.Title.</h2>
    <h3 class="text-xl font-semibold text-slate-700 dark:text-slate-300">@ViewBag.Message</h3>

    <p class="text-slate-600 dark:text-slate-400">Use this area to provide additional information.</p>
</main>